.asteriskField {
  display: none;
}

form .alert ul li {
  list-style: none;
}

form .alert ul {
  padding: 0;
  margin: 0;
}




body
{
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
    background: #EDF3F3; color: #000;
}

h1, h2, h3, h4, h5, h6, p, a, ul, span, li, img
{
    margin: 0;
    padding: 0;
    font-weight: 300;
}

h1,h2,h3,h4,h5,h6
{
    line-height: 1.5;
}

p
{
    line-height: 1.6;
    font-family: 'Maven Pro', sans-serif;
    font-weight: 400;
    color: #444;
}

h1{ font-size: 4em; line-height: 1; }
h2{ font-size: 2.8em; line-height: 1.1; }
h3{ font-size: 2em; }
h4{ font-size: 1.8em; }
h5{ font-size: 1.1em; }
h6{ font-size: .9em; letter-spacing: 1px; }

a, button
{
    text-decoration: none;
    color: inherit;
    transition: all .3s;
}

a:focus, a:active, a:hover,
button:focus, button:active, button:hover
{
    text-decoration: none;
    color: #498BF9;
}

