{% load static %}
<html>
    <head>
        <title>Django blog</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>

        <title>{% block titulo %}Hospedajes Python{% endblock %}</title>
    </head>
    <body>

        <header id="nav">
        {% block menu %}
            {% load static %}
            <!--<img src="/static/images/logo.png" alt="Mi logo"/>-->
            <ul>
                <li><a href="/hospedajes/">Home</a></li>
                <li><a href="/hospedajes/property/1">Ficha Propiedad</a></li>
                <li><a href="/hospedajes/new_property">Alta Propiedad</a></li>
                <li><a href="/hospedajes/new_city">Alta Ciudad</a></li>
            </ul>
        {% endblock %}
        </header>

        <div class="content container">
            <div class="row">
                <div class="col">
                    {% block content %}
                    {% endblock %}
                </div>
            </div>
        </div>

    </body>
</html>