{% extends "hospedajes_app/base.html" %}

{% block titulo %}Próximas Conferencias{% endblock %}

{% block content %}

    <h1>Propiedades:</h1><br/><br/>

    <table border=1>
        {% if properties %}
        <tr>
            <th>Titulo</th>
            <th>Descripción</th>
            <th>Pasajeros</th>
            <th>Importe Diario</th>
            <th>Ciudad</th>
        </tr>
        {% for p in properties %}
        <tr>
            <td>{{ p.title }}</td>
            <td>{{ p.description }}</td>
            <td>{{ p.pax }} </td>
            <td>{{ p.daily_import }} </td>
            <td>{{ p.city.name }}</td>
        </tr>
        {% endfor %}
        {% else %}
            <h3>No hay propiedades</h3>
        {% endif %}
    </table>

{% endblock %}
