{% extends "hospedajes_app/base.html" %}

{% block titulo %}Propiedades Disponibles{% endblock %}

{% block content %}

    <h1>Propiedades:</h1><br/><br/>

    <table border=1>
        {% if properties %}
        <tr>
            <th>#</th>
            <th>Titulo</th>
            <th>Descripción</th>
            <th>Pasajeros</th>
            <th>Importe Diario</th>
            <th>Ciudad</th>
            <th>Imagen</th>
            <th>Detalles</th>
        </tr>
        {% for p in properties %}
        <tr>
            <td>{{ p.id }}</td>
            <td>{{ p.title }}</td>
            <td>{{ p.description }}</td>
            <td>{{ p.pax }}</td>
            <td>{{ p.daily_import }}</td>
            <td>{{ p.city.name }}</td>
            <td> <img src="{{ p.image.url }}" width="80"></td>
            <td> <a href="{% url 'hospedajes_app:property' p.id %}"> Ver más</a> </td>
        </tr>
        {% endfor %}
        {% else %}
            <h3>No hay propiedades</h3>
        {% endif %}
    </table>

{% endblock %}
