{% extends "hospedajes_app/base.html" %}

{% block titulo %}Propiedad {% endblock %}

{% block content %}


<div class="row mt-3">

    <div class="col-lg-7">
        <div class="card" style="margin-left:1px">
            <img src="{{ property.image.url }}" class="img-fluid" style="height:50vh; width:100%;">

            <div class="card-body p-2">
                <p class="lead font-weight-bold text-uppercase" style="font-size: 1.50rem">{{ property.title }}</p>
                <hr class="mt-1 mb-2">
                <p class="mb-1">Propiedad disponible en {{ property.city }}</p>

                <div class="d-inline">
                    <i class="fa fa-users mr-1" aria-hidden="true">
                        <p class="d-inline">{{ property.pax }} huéspedes </p>
                    </i>
                </div>

                <div class="d-inline">
                    {% for c in comforts %}
                    <i class="{{ c.comfort.className }} mr-1" aria-hidden="true">
                        <p class="d-inline"> {{ c.quantity }} {{ c.comfort }} </p>
                    </i>
                    {% endfor %}
                </div>

                <p class="property-description mt-1 mb-1">{{ property.description }}</p>

                <hr class="mb-1 mt-2">

                <h4 style="font-size: 1.35rem"> Servicios</h4>
                <div class="d-inline">
                    {% for f in features %}
                    <i class="{{ f.className }} mr-1" aria-hidden="true">
                        <p class="d-inline"> {{ f.name }}</p>
                    </i>
                    {% endfor %}
                </div>
            </div>

        </div>
    </div>


    <div class="col-lg-5">
        <div class="card">
            <div class="card-body pb-0">
                <h4 class="text-center">Formulario de Reserva</h4>

                <i class="fa fa-dollar-sign mb-2 mt-2" aria-hidden="true" style="font-size: 1.1rem">
                    <spam id='price' style="font-size: 1.2rem"> {{ property.daily_import|floatformat:2 }}</spam>
                    <p class="d-inline" style="font-size: 0.8rem"> ARS por noche </p>
                </i>

                <hr class="mt-0 mb-2">

                <form method="post" novalidate>
                    {% csrf_token %}

                    <label for="dates"><!--Fechas Disponibles--></label>
                    <input id="dates" name="dates" type='text' placeholder="Click aquí para mostrar calendario de disponibilidad" readonly required class="form-control bg-white text-sm" onfocus="addDates('{{ dateList }}')" onfocusin="calculateTotal()">

                    <div class="mt-3">
                        <p class="d-inline">${{ property.daily_import|floatformat:2 }} x 2 noches</p>
                        <p id='priceTotal' class="d-inline float-right">$0</p>
                    </div>

                    <hr class="mt-2 mb-2">
                    <div>
                        <p class="d-inline">Comisión por servicio (8%)</p>
                        <p id='comision' class="d-inline float-right">$0</p>
                    </div>

                    <hr class="mt-2 mb-2">

                    <label class="mb-2" for="total"><h5 class="d-inline">Total</h5></label>
                    <input type="text" id="total" name='total' placeholder="$0" readonly required class="d-inline float-right text-right" style="border:0; outline:none">

                    <hr class="mb-3 mt-0 bg-success">

                    <div class="row">
                        <div class="col-6">
                            <label for="name" class="mb-0">Nombre</label>
                            <input type="text" id="name" name="name" placeholder="Nombre" class="form-control" required>
                        </div>
                        <div class="col-6">
                            <label for="surname" class="mb-0">Apellido</label>
                            <input type="text" id="surname" name="surname" placeholder="Apellido" class="form-control" required>
                        </div>
                    </div>

                    <div class="row mt-2 mb-3">
                        <div class="col-7">
                            <label for="email" class="mb-0">Email</label>
                            <input type="text" id="email" name="email" placeholder="email@example.com" class="form-control" required>
                        </div>
                        <div class="col-5">
                            <label for="dni" class="mb-0">Dni</label>
                            <input type="number" id="dni" name="dni" placeholder="12312312" class="form-control" required>
                        </div>
                    </div>

                    <button type="submit" class="btn btn-success btn-block">Confirmar Reserva</button>
                </form>
            </div>
        </div>
    </div>

</div>

{% endblock %}
